---
import ProjectCard from "@components/ProjectCard.astro";
import Typescript from "@assets/icons/typescript.astro";
import React from "@assets/icons/react.astro";
import Supabase from "@assets/icons/supabase.astro";
import Tailwind from "@assets/icons/tailwind.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600" />

  <ProjectCard
    projectTitle="Centro Digital"
    projectDescription="Web application that helps users find nearby local businesses, providing detailed information, contacts, and interactive maps."
    projectLink="https://github.com/garaven/centro-digital"
    image="/images/centro-digital.png"
  >
    <React />
    <Supabase />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="StockIn"
    projectDescription="Efficient inventory management system for SMEs that simplifies tracking, control, and optimization of stock levels to meet their specific needs."
    projectLink="https://github.com/Gothsec/StockIn-demo"
    image="/images/stockin.png"
  >
    <React />
    <Supabase />
    <Tailwind />
  </ProjectCard>
</section>
